<div id="footer" class="container-fluid fixed-bottom bg-light p-5" style="z-index: -1">

  <div class="max71 container-fluid bg-light asTable">
    <div class="row asTableCell text-center">
      <ul class="p-0 m-0">
        <!-- <i class="fa fa-facebook-official" aria-hidden="true"></i> -->
        <li class=" m-3 p-2 socialIcon instagram">instagram</li>
        <li class=" m-3 p-2 socialIcon pintrest">pintrest</li>
        <li class=" m-3 p-2 socialIcon facebook">facebook</li>
      </ul>
    </div>
  </div>
  <div class="max71 container-fluid bg-light asTable" style="height: 173px;">
    <div class="row asTableCell text-center">
      <!-- Copy right - &copy; // <strong>MYA</strong> // {{ actualYear }} -->
      &copy; // <strong>MYA</strong> BY USF // {{ actualYear }}
    </div>
  </div>
</div>
