<!-- Fullscreen Intro Banner -->
<app-banner></app-banner>



<!-- Featured area -->
<div class="max71 container-fluid px-3 bg-light">
  <h1 class="display-1 p-3 my-5">Favorite works!</h1>
  <div class="row p-2">
    <div class="col-6 col-sm-3 p-0" *ngFor="let featuredWork of featuredWorks$ | async" @fadeInOutBottom>
      <div class="card p-0 m-2">
        <img class="card-img-top" [src]="featuredWork.imageUrl" alt="{{ featuredWork.title +'_image' }}">
      </div>
    </div>
  </div>
</div>



<!-- <div class="max71 container-fluid px-5 bg-light">
  <div class="row p-0">
    <div class="col-sm-6 p-5" *ngFor="let featuredWork of featuredWorks$ | async | featured">
      <img class="card-img-top" [src]="featuredWork.imageUrl" alt="{{ featuredWork.title +'_image' }}">
      <h2> {{ featuredWork.title }} </h2>
      <p> {{ featuredWork.description }} </p>
    </div>
  </div>
</div> -->




<!-- <div class="max71 container-fluid px-5 bg-light ">
    <div class="row featurette"*ngFor="let featuredWork of featuredWorks$ | async | featured">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ featuredWork.title }}</h2>
                <p> {{ featuredWork.description }} </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ec2c8de10%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ec2c8de10%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </div>
            </div>
</div> -->

