<div class="container-fluid p-0 m-0 bg-accenet01 text-center removeMargins banner fullPage" @fadeInOut>
    <div class="row col-12 p-5 asTable">
        <div class="col-sm-12 p-5 asTableCell h1 textShadow" @fadeInOutBottom>
                <p class="display-2">Be the change</p> 
                <p class="display-1">you want to see in the world</p>
                <!-- <h4 class="display-1">When nothings goes right...</h4> 
                <h1 class="display-1">Go left.</h1> -->
        </div>
    </div>
</div>
<div class="spacer-31"></div>