/*
Other variables
*/

// $mainDark: #333;
// $mainDark-L: lighten($mainDark, 13%);
// $mainLight: #f1f1f1;
// $accentColor-01:#D4C185;
// $accentColor-01-L:lighten($accentColor-01, 13%);
$mainDark: #333;
$mainDark-02: #14213D;
$mainDark-L: lighten($mainDark, 13%);
$mainLight: #F3F3F3;
$mainLight-02: #DBD7C9;
$accentColor-01:#CEAF50;
$accentColor-01-L: lighten($accentColor-01, 13%);
//New Ones
$color1: #B8D8D8;
$color2: #7A9E9F;
$color3: #4F6367;
$color4: #EEF5DB;
$color5: #CEBA69;

/*
Other variables
*/

$noRadius: 0;
$minMargin: 17px;
